
@model List<ChoixResto.Models.Restaurant>

<table>
    <tr>
        <th>Name</th>
        <th>PhoneNumber</th>
    </tr>
    @foreach (var restaurant in Model)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.PhoneNumber</td>
        </tr>
    }
</table>