@model ChoixResto.ViewModels.HomeViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>Je suis la vue index</div>
    @Html.Action("ShowRestaurantList")
</body>
</html>
