@model ChoixRestaurant.ViewModels.HomeViewModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>Je suis la vue index</div>
    @Html.ActionLink("ModifyRestaurant", "Index", "Restaurant")
    @Html.ActionLink("CreateRestaurant", "CreateRestaurant", "Restaurant")
</body>
</html>
