@model List<ChoixRestaurant.Models.Restaurant>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Liste des restaurants</title>
</head>
<body>
    <table>
        <tr>
            <th>Nom</th>
            <th>Téléphone</th>
            <th>Email</th>
            <th>Modifier</th>
        </tr>
        @foreach (var restaurant in Model)
        {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.PhoneNumber</td>
            <td>@restaurant.Email</td>
            <td>@Html.ActionLink("Modifier " + restaurant.Name, "ModifyRestaurant", new { id = restaurant.Id })</td>
        </tr>
        }
    </table>
</body>
</html>